<div class="center jumbotron">
    <h1>Intuitab</h1>
    <h2>Welcome to Intuitab! This is the temporary home page for the website (:</h2>
    
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>