<% provide(:title, @artist.name) %>

<% albums_json = @albums.includes(:artist).map { 
          |album| album.as_json.merge({artist: album.artist.as_json}) } %>


<div class="row">
  <aside class="col-md-4">
    <section class="artist_info">
      <h1>
        <%= @artist.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <%= react_component 'Albums', { data:         albums_json, 
                                    albumsPath:   albums_path,
                                    artistsPath:  artists_path} %>
  </div>
</div>