<% provide(:title, 'Account settings') %>
<% provide(:button_text, 'Save changes') %>
<% provide(:url, edit_user_path(@user)) %> 

<h1>Update your profile</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>