<% provide(:title, 'Users') %>

<% users_json = User.includes(:tabs).map { |user| user.as_json.merge({tabs: user.tabs.as_json}) } %>

<%= react_component 'Users', {  data:       users_json,
                                usersPath:  users_path} %>