<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.tabs.any? %>
      <%= render 'shared/tabs_component', object: @tabs %>
    <% end %>
  </div>
</div>