<%= react_component 'Tabs', {  data:       tabsAsJson(@tabs),
                               tabsPath:   tabs_path,
                               usersPath:  users_path,
                               searchTerm: params[:search] } %>