<% provide(:title, 'Songs') %>

<% songs_json = Song.includes(:tabs).map { 
          |song| song.as_json.merge({tabs: song.tabs.as_json}) } %>

<%= react_component 'Songs', {  data:       songs_json,
                                songsPath:  songs_path} %>