<% provide(:title, @song.name) %>

<% tabs_json = @tabs.includes(:user).map { |tab| tab.as_json.merge({
                                user: tab.user.as_json, 
                                averageRating: tab.average_rating.as_json,
                                created_at: (tab.created_at.to_date.strftime("%m/%d/%y")).as_json}) } %>
<div class="row">
  <aside class="col-md-4">
    <section class="song_info">
      <h1>
        <%= @song.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <%= react_component 'Tabs', {  data:       tabs_json,
                                   tabsPath:   tabs_path,
                                   usersPath:  users_path} %>
  </div>
</div>