<% provide(:title, 'Albums') %>

<% albums_json = Album.includes(:artist).map { 
          |album| album.as_json.merge({artist: album.artist.as_json}) } %>

<%= react_component 'Albums', { data:         albums_json, 
                                albumsPath:   albums_path,
                                artistsPath:  artists_path} %>