<% provide(:title, @album.name) %>

<% songs_json = @songs.includes(:tabs).map { 
          |song| song.as_json.merge({tabs: song.tabs.as_json}) } %>

<div class="row">
  <aside class="col-md-4">
    <section class="album_info">
      <h1>
        <%= @album.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <%= react_component 'Songs', {  data:       songs_json,
                                    songsPath:  songs_path} %>
  </div>
</div>