<% provide(:title, 'Tabs') %>

<% if @tabs.blank? %>
  <h4>Sorry, there are no tab names containing the term <%= params[:search] %>.</h4>
<% else %>
  <%= render 'shared/tabs_component', object: @tabs %>
<% end %>
