<% provide(:title, @tab.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="tab_info">
      <h1>
        <%= @tab.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <%= @tab.content %>
  </div>
</div>