<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to "Intuitab", root_path, class: "navbar-brand", id: "logo" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <%= render 'layouts/searchbar' %>
            <ul class="nav navbar-nav navbar-right">
                <%= active_link_to "Home", root_path, wrap_tag: :li, active: :exclusive %>
                <%= active_link_to "Tabs", tabs_path, wrap_tag: :li %>
                <%= active_link_to "Artists", artists_path, wrap_tag: :li %>
                <%= active_link_to "Albums", albums_path, wrap_tag: :li %>
                <%= active_link_to "Songs", songs_path, wrap_tag: :li %>
                <% if logged_in? %>
                    <%= active_link_to "Users", users_path, wrap_tag: :li, active: :exclusive %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Account <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Profile", current_user %></li>
                            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                            <li class="divider"></li>
                            <li>
                                <%= link_to "Log out", logout_path, method: :delete %>
                            </li>
                        </ul>
                    </li>
                <% else %>
                    <%= active_link_to "Log in", login_path, wrap_tag: :li %>
                <% end %>
            </ul>
        </div>
    </div>
</div>