<%= form_tag(tabs_path, :method => "get", id: "search-form") do %>
  <div class="col-sm-3 float-left">
    <div class="navbar-form input-group">
      <%= text_field_tag :search, params[:search], placeholder: "Search Tabs", class: 'form-control' %>
        <span class="input-group-btn">
          <%= button_tag "Search", class: 'btn btn-default', :name => nil do %>
            <i class="glyphicon glyphicon-search"></i>
          <% end %>
        </span>
    </div>
  </div>
<% end %>